@use "../variables" as *;

@mixin popover-style($background-color){
    background-color: $background-color;
    color: $white-color;
    .popover-title{
        background-color: $background-color;
        color: rgba(0, 0, 0, 0.56);
    }
    &[x-placement^="top"] .arrow::after{
        background-color: $background-color;
    }
    &[x-placement^="top"] .arrow{
        border-bottom-color: $background-color;
    }
    &[x-placement^="left"] .arrow{
        border-left-color: $background-color;
    }
    &[x-placement^="bottom"] .arrow{
        border-top-color: $background-color;
    }
    &[x-placement^="right"] .arrow{
        border-right-color: $background-color;
    }
}
