# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc


# Only exists if Bazel was run
/bazel-out

# Dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# Angular files
.angular

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log

# System Files
Thumbs.db

# Temporary log files and version checks
*_versions.txt
*_audit.txt
*_build*.txt
*_install*.txt
*_test*.txt
*_fix.txt
check_version.txt
cli_version.txt
current_audit.txt
deprecated_check.txt
final_test.txt
force_fix.txt
npm_*.txt
post_fix_build.txt
prod_build.txt
restore_install.txt
update_install.txt
