<div class="page-header section-dark" style="background-image: url('assets/img/about-us_01.jpg');">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">수인산업은 이렇습니다</h2>
                <h5 class="description">열처리 산업로 분야를 꾸준히 연구 개발하여 고객 요구 수준에 맞는 맞춤형 설비 제작은 물론 설치, 시공 및 사후관리까지 철저한 품질관리로 고객의 만족을 위해 최선을 다하고 있습니다.</h5>
                <h5 class="description">특히, 설비를 구입 전에 고객이 느끼는 애로사항인 자금 조달, 기술, 품질, A/S, 영업에 대한 다양한 솔루션을 One-Stop으로 제공해 드릴 수 있는 네트워크가 구축되어 있어 문제를 해결해 드릴 수 있습니다.</h5>
                <br>
                <a class="btn btn-danger btn-round" (click)="goDown1()">회사 설립 정보</a>
            </div>
        </div>
    </div>
</div>

<div class="section text-center">
    <div class="container">
        <div class="row" id="down">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-badge"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">경영자</h4>
                        <h5 class="description">대표이사 김웅기</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bank"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">설립일</h4>
                        <h5 clsss="description">2015년 09월 10일</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-atom"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">사업분야</h4>
                        <h5 class="description">진공로, 침탄로, 분위기로, 열처리기계, 2차전지</h5>
                        <h5 class="description">전기로, 가스연질화로, 피트로 및 각종 산업로 제작</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bullet-list-67"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">특허 및 실용실안</h4>
                        <h5 class="description">진공로 실용신안 취득</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

